@model Employment.Data.Requirment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Requirment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowerAgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowerAgeLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpperAgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpperAgeLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationSkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationSkill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
