@model IEnumerable<Employment.Data.Requirment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Требования</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LowerAgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpperAgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LowerAgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpperAgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunicationSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
