@model IEnumerable<Employment.Data.Address>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Адреса</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorpusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorpusNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
