@model Employment.Data.SocialResponsibility

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SocialResponsibility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Вернуться</a>
</div>
