@model IEnumerable<Employment.Data.SocialResponsibility>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Социальные обязательства</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Id)
            </td>
            <td>
                   <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a> 
                     
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
