@model IEnumerable<Employment.Data.FullAddress>

@{
    ViewData["Title"] = "Адреса";
}

<h1>Адресная книга</h1>

<p>
    <a asp-action="Create">Добавить адрес</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorpusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortLocalityType)<span>. </span>@Html.DisplayFor(modelItem => item.LocalityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortStreetType)<span>. </span>@Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpusNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="margin-bottom:4px">Редактировать</a>          
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
