@model Employment.Models.PostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.ShortName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.BeginDate)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.EndDate)
        </dd>

        <dt class = "col-sm-2">
            Компания
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Company.Name)
        </dd>

        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Edit" asp-route-id="@Model.Post.Id">Редактировать</a>

            @if(Model.Post.EndDate == null)
            {
                <a asp-action="ClosePost" asp-route-id="@Model.Post.Id">Закрыть вакансию</a>
            }
            else
            {
                <a asp-action="OpenPost" asp-route-id="@Model.Post.Id">Открыть вакансию</a>
            }           
        </dd>
    </dl>

    <h4>Заработная плата</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.LowerLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary.LowerLimit)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.UpperLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary.UpperLimit)
        </dd>

        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Edit" asp-controller="Salaries" asp-route-id="@Model.Salary.Id">Редактировать</a>
        </dd>
    </dl>

    <h4>Требования</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirment.LowerAgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirment.LowerAgeLimit)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirment.UpperAgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirment.UpperAgeLimit)
        </dd>

        <dt class="col-sm-2">
            Пол
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirment.Gender.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirment.CommunicationSkill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirment.CommunicationSkill)
        </dd>

        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Edit" asp-controller="Requirments" asp-route-id="@Model.Requirment.Id">Редактировать</a>
        </dd>
    </dl>

    <h4>Социальные обязательства</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialResponsibility.SocialPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialResponsibility.SocialPackage)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialResponsibility.EmploymentBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialResponsibility.EmploymentBook)
        </dd>

        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Edit" asp-controller="SocialResponsibilities" asp-route-id="@Model.SocialResponsibility.Id">Редактировать</a>
        </dd>
    </dl>

    <h4>Обязанности</h4>
    <hr />
    <dl class="row">
        @{
            int i = 1;
            foreach(var el in Model.Post.Responsibilities)
            {
                <dt class="col-sm-2">
                    @(i). @el.Name
                </dt>
                <dd class="col-sm-10">
                    <a asp-action="Edit" asp-controller="Responsibilities" asp-route-id="@el.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-controller="Responsibilities" asp-route-id="@el.Id">Удалить</a>
                </dd>
                i++;
            }
        }
        <a asp-action="Create" asp-controller="Responsibilities" asp-route-id="@Model.Post.Id">Добавить</a>
    </dl>

    <h4>Навыки</h4>
    <hr />
    <dl class="row">
        @{
            int j = 1;
            foreach (var el in Model.Post.Skills)
            {
                <dt class="col-sm-2">
                    @(j). @el.Name
                </dt>
                <dd class="col-sm-10">
                    <a asp-action="Edit" asp-controller="Skills" asp-route-id="@el.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-controller="Skills" asp-route-id="@el.Id">Удалить</a>
                </dd>
                j++;
            }
        }
        <a asp-action="Create" asp-controller="Skills" asp-route-id="@Model.Post.Id">Добавить</a>
    </dl>

</div>